*{
    color:rgb(144, 138, 86);
    background-color: thistle;
}
h3{
    color:black;
    background: white
}
div{
    color:coral;
    font-size: 24px
}
.list {
    color:blue;
    font-size:larger;
    background-color: navajowhite;
}
#description {
    color: red;
    background-color:rgb(144, 138, 86);
    font-size:28px;
}
.ordered {
    font-size:xx-large;
}